<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Valuutta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Valuutta</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
  </div>
</ion-content>
